APP_NAME=TilMaroon2
APP_VERSION=0.1.0
DEBUG=False
DATABASE_URL=mysql+pymysql://root:root@localhost:3306/til_marcon_almoxarifado
DATABASE_ECHO=False
SECRET_KEY=change-me-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
ALLOWED_HOSTS=localhost,127.0.0.1,api.example.com
CORS_ORIGINS=http://localhost:3000,https://seu-front.vercel.app
