APP_NAME=TilMaroon2 API
APP_VERSION=0.1.0
DEBUG=False
DATABASE_URL=mysql+pymysql://root:root@localhost:3306/til_marcon_almoxarifado
DATABASE_ECHO=False
SECRET_KEY=TilMarcon@2026_SistemaAlmoxarifado#JWT_9xK7mP4qR8vN2sL6
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
